{% extends 'base.html.twig' %}

{% block body %}
    <h1> {% trans %}Blog Homepage{% endtrans %}</h1>
    <div> {% trans %}This is the fastes blog home page{% endtrans %}</div>
    <ul>
    {% for blog in blogs%}
        <li>{{ blog }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block stylesheets %}

{% endblock %}
